@use "./variables";
@use "./functions";

.main-layout {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  justify-items: center;
  height: 100vh;
  background-color: variables.$clr2;
  color: variables.$clr11;
}

.dropdown-entities {
  cursor: pointer;
  &:hover {
    background-color: variables.$clr7;
  }
}
