@use "./variables";
@use "./functions";
* {
  font-family: roboto;
  font-size: 16px;
  scrollbar-color: variables.$clr1 variables.$clr2;
  color: variables.$clr11;
}

*::-webkit-scrollbar {
  width: functions.rem(8);
  height: functions.rem(8);
}

*::-webkit-scrollbar-track {
  background: variables.$clr1;
}

*::-webkit-scrollbar-thumb {
  background-color: variables.$clr2;
  border-radius: functions.rem(4);
  border: functions.rem(2) solid variables.$clr1;
}
