// Colors
$clr1: #000000; // Black
$clr8: #1c1c2b; // Deep Navy
$clr9: #2b2d42; // Slate Night
$clr2: #333446; // Dark Blue-Gray
$clr3: #7f8caa; // Desaturated Blue
$clr6: #95adbe; // Dusty Blue
$clr4: #b8cfce; // Light Teal-Gray
$clr11: #d9e2ec; // Frosted Sky
$clr5: #eaefef; // Very Light Gray-Teal
$clr10: #f4f7f8; // Cloud Mist
$clr7: #ffffff; // White
