@use "../../basic/variables";
@use "../../basic/functions";

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: functions.rem(400);
  background-color: variables.$clr7;
  border: functions.rem(2) solid variables.$clr1;
  box-shadow: 0px functions.rem(3) functions.rem(6) rgba(0, 0, 0, 0.24);
  padding: functions.rem(32);
}
