.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
=======
//   & > :first-child {
//     align-items: baseline;
//   }
>>>>>>> d9bd0bdc9edb474f247c8126948e091cad0a7028
}

.navbar-logo {
  width: 7em;
  border-radius: 30%;
}

.dropdown {
  position: relative;
  display: inline-block;
}