//basics
@use "./basic/setup.scss";
@use "./basic/functions.scss";
@use "./basic/variables.scss";

// layout
@use "./basic/layout.scss";

// cmps
@use "cmps/navBar/navbar.scss";
@use "cmps/navBar/navbar-modal.scss";
@use "cmps/buttons.scss";
@use "./card.scss";
@use "./modal.scss";

//Utils
@use "./cmps/Input.scss";
@use "./cmps/universe-not-found.scss";
