@use "./basic/variables";
@use "./basic/functions";

.modal-conatiner {
  width: 80%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: variables.$clr2;
  border: functions.rem(2) solid variables.$clr1;
  border-radius: 15px;
  box-shadow: 0 functions.rem(4) functions.rem(24) rgba(0, 0, 0, 0.1);
  padding: functions.rem(16);

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.scroller {
  flex: 1; // fill available height
  overflow-y: auto;
  padding: 16px;
}
